.page, footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .page:after, footer:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 755px) {
    .page, footer {
      max-width: 740px;
      margin-left: auto;
      margin-right: auto; }
      .page:after, footer:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 995px) {
    .page, footer {
      max-width: 980px;
      margin-left: auto;
      margin-right: auto; }
      .page:after, footer:after {
        content: " ";
        display: block;
        clear: both; } }

.page, footer {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 755px) {
    .page, footer {
      padding-left: 30px;
      padding-right: 30px; } }

article:after {
  content: "";
  display: table;
  clear: both; }
