.posts {
  margin-bottom: 65px;

  h2 {
    margin-bottom: 6px;
  }

  .post {
    margin-top: 30px;
  }

  .post-date {
    @extend .subtitle;
    margin-bottom: 5px;
  }
}

/* line 1, ../sass/components/_writing.scss */
.report {
  margin-bottom: 18px;
  margin-bottom: 1.125rem; }
  /* line 4, ../sass/components/_writing.scss */
  .report h3 {
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 4px;
    margin-bottom: 0.25rem; }
  /* line 9, ../sass/components/_writing.scss */
  .report h4 {
    margin-bottom: 4px;
    margin-bottom: 0.25rem; }
  /* line 13, ../sass/components/_writing.scss */
  .report .byline {
    font-style: italic; }

// Bonkers syntax highlighting hack
.ellipse-hack {
  span:nth-child(19), span:nth-child(20), span:nth-child(21),
  span:nth-child(24), span:nth-child(25), span:nth-child(26) {
    color: #f8f8f2 !important;
  }
}
