.strike-through {
  text-decoration: line-through; }

* {
  margin: 0; }

html, body {
  height: 100%; }

.page {
  min-height: 100%;
  margin: 0 auto -128px;
  /* the bottom margin is the negative value of the footer's height */ }

.footer, .push {
  height: 128px;
  /* .push must be the same height as .footer */ }
