<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vivian Brown</title>
  <link rel="stylesheet" href="{{ site.github.url }}/css/main.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/fonts.css">
</head>
<body>
<div class="page">

  {% include header.html %}

  <div class="main-content">
    <article>
      {{ content }}
    </article>
  </div>
  <div class="push"></div>
</div>

<footer>
  <div class="social-media">
    <ul>
      <li><a href="https://github.com/vbrown608" target="_blank">Github</a></li>
      <li><a href="https://twitter.com/vbrown608" target="_blank">Twitter</a></li>
      <li><a href="https://www.linkedin.com/in/vivian-brown-a8441329/" target="_blank">Linkedin</a></li>
    </ul>
  </div>
  <div class="contact">
    Contact: vivian.brown@gmail.com
  </div>
</footer>
</body>
</html>
